<h2><%= t('.title', resource: resource.class.model_name.human) %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'pure-form pure-form-aligned', method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="pure-control-group">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="pure-control-group">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="pure-control-group">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="pure-control-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="pure-control-group">
    <%= f.label :current_password %>
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="pure-control">
    <%= f.submit class: 'pure-button pure-button-primary' %>
  </div>
<% end %>

<h3><%= t('.cancel') %></h3>

<p>¿Desea cancelar su cuenta? <%= button_to t('.bt_cancel') , registration_path(resource_name), data: { confirm: t('.alert') }, method: :delete, class: 'pure-button pure-button-primary btn-rojo' %></p>
