<div class='container-fluid'>
	<div class='row'>
		<%= render 'users/aside' %>

		<section class='col-md-8 col-lg-9'>
			<div class="panel panel-default">
				<div class="panel-heading">
					<strong>Editar Grupo: </strong>
				</div>
				<div class="panel-body">
					<%= form_for @group do |group| %>

					<div class="form-group">
						<%= group.label :name %>
						<%= group.text_field :name, class: 'form-control'%>
					</div>

					<div class="form-group input-group">
						<span class="input-group-addon" id="sizing-addon2">#</span>
						<%= group.text_field :tag,placeholder: 'Etiqueta del grupo', class: 'form-control'%>
					</div>

					<div class="form-group">
						<%= group.label :description %>
						<%= group.text_area :description, class: 'form-control' %>
					</div>
					
					<%= group.submit 'Enviar', class: 'btn btn-primary' %>

					<% end %>
				</div>
				
			</div>
			
		</section>
	</div>
	
</div>