<% @user ||= current_user %>
<div class="stats">
		<a href='<%= user_path(@user) %>'>
			<strong class='stat'><%= @user.posts.count%> </strong>
			Posts
		</a>
		<a href='<%= following_user_path(@user) %>'>
			<strong class='stat'><%= @user.following.count %></strong>
			Following
		</a>
		<a href='<%= followers_user_path(@user) %>'>
			<strong class='stat'><%= @user.followers.count %></strong>
			Followers
		</a>
	
</div>