<h2>Perfil de <%= @user.name %> </h2>

<% @user.posts.each do |m|%>
	<%=m.content%>
<%end%>

<% if @user.id != current_user.id %>
	<% if @follower.user_id %>
		<%= button_to 'Dejar de seguir', follower_path(@follower), method: :delete %>
	<% else %>
		<%= form_for @follower do |f| %>
			<%= f.hidden_field :user_id , value: current_user.id %>
			<%= f.hidden_field :user_followed_id , value: @user.id %>
			<%= f.submit 'Seguir' %>
		<%end%>
	<% end %>
<% end %>