
<div class="container-fluid">
	<aside class='col-md-4 col-lg-3'>
		<section class='panel panel-default'>
			<%= image_tag ('avatar.jpg'), class: 'profile-avatar img-circle'%>

			<div class="profile-fields">
				<p class='profile-name'><%= @user.name %> </p>
				<%= link_to '@' + @user.username, @user %>
			</div>

			<%= render 'follow_form' %>

			<%= render 'stats' %>
		</section>
	</aside>

	<section class='col-md-8 col-lg-9'>
		
		<% @user.posts.each do |post|%>

		<div class="media post__user--<%= @user.level%>" >
			<div class='media-left'>
				<%= image_tag('avatar.jpg', class: "media-object img-circle")%>
			</div>

			<div class='media-body'>
				<h4 class='media-heading'>
					<%= post.user.name %>
					<span><%= link_to ' @' + post.user.username, "users/#{post.user.id}" %></span>
				</h4>
				<p><%= post.content %></p>
				<div class='post__content__actions'>
				<% if post.user.username == current_user.username %>
					<%=link_to t('.delete_link'), post_path(post), method: :delete %>
				<% end %>
				</div>
			</div>
		</div>
		<%end%>
	</section>
</div>

