<h2> Perfil de <%= @user.name %> </h2> 

<%= render 'follow_form' %>

<% @user.posts.each do |post|%>
	
	<div class="post post__user--<%= @user.level%>" >
		<div class='post__user u-left'>
			<%= image_tag('avatar.jpg', class: "post__user__avatar")%>
			<span> <%= post.user.name %> </span><br/>
			<span> <%= link_to '@' + post.user.username, "/users/#{post.user.id}" %></span>
		</div>

		<div class='post__content'>
			<p><%= post.content %></p>
		</div>
	</div>
	
<%end%>