<h2>Perfil de <%= @user.name %> </h2>

<% @user.posts.each do |post|%>
	
	<div class="post bg-gris">
		<div class="post__user left">
			<% image_tag("http://farm3.static.flickr.com/2278/2239310885_7ee80a8a98_t.jpg") %>
			<span> <%= post.user.name %> </span><br/>
			<span> <%= link_to '@' + post.user.username, "users/#{post.user.id}" %></span>
		</div>

		<div class="post__content">
			<p><%= post.content %></p>
		</div>
	</div>
	
<%end%>

<% if @user.id != current_user.id %>
	<% if @follower.user_id %>
		<%= button_to 'Dejar de seguir', follower_path(@follower), class: 'pure-button pure-button-primary', method: :delete %>
	<% else %>
		<%= form_for @follower do |f| %>
			<%= f.hidden_field :user_id , value: current_user.id %>
			<%= f.hidden_field :user_followed_id , value: @user.id %>
			<%= f.submit 'Seguir', class: 'pure-button pure-button-primary' %>
		<%end%>
	<% end %>
<% end %>