<div class='container-fluid'>
	<div class='row'>
		<aside class='col-md-4 col-lg-3'>
			<section class='panel panel-default'>
				<%= image_tag @user.avatar, class: 'profile-avatar img-circle'%>

				<div class="profile-fields">
					<p class='profile-name'><%= @user.name %> </p>
					<%= link_to '@' + @user.username, @user %>
				</div>
				
				<%= render 'follow_form' %>

				<%= render 'stats' %>
			</section>
		</aside>

		<section class='col-md-8 col-lg-9'>
			<div class='panel panel-default'>
				<div class="panel-heading text-center">
					Followers
				</div>
				<div class="panel-body">

					<% if @users.any? %>
					<% @users.each do |user| %>
					
					<div class="col-lg-4 col-sm-6 col-xs-12">
						<div class='panel panel-default'>
							<%= image_tag user.avatar, class: 'profile-avatar img-circle'%>

							<div class='profile-fields'>
								<p class='profile-name'><%= user.name %> </p>
								<%= link_to '@' + user.username, user %>
							</div>
						</div>
						
					</div>
					
					<% end %>
					<%end%>
				</div>
				
				<div>
				</section>		
			</div>
		</div>
