<div class='bg--gray u-wrapper'>
  <section class='user__login'>
  
    <h2 class='u-textCenter'><%= t('.title') %></h2>

    <%= form_for(resource, as: resource_name,
    url: session_path(resource_name)) do |f| %>
    
    <div class='form-group'>
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, 
      placeholder: 'alguien@red.ujaen.es', size: 30, class: 'form-control input-lg' %>
    </div>

    <div class='form-group'>
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off", 
      placeholder: 'Contraseña',  size: 30, class: 'form-control input-lg' %>
    </div>


    <div class='checkbox'>
      <%= f.submit t('.log_in'), class: 'btn btn-primary' %>

      <% if devise_mapping.rememberable? %>
      <%= f.label :remember_me do %>
      <%= f.check_box :remember_me %> Recordarme
      <%end%>
      <% end %>
    </div>


    <% end %>

    <%= render "devise/shared/links" %>
  </section>

</div>
