<%= div_for(post, class: "post__user--#{post.user.level} ") do %>
	<div class="post__user u-left">
		<%= image_tag('avatar.jpg', class: "post__user__avatar posts__user--#{post.user.level} ") %> <br/>
		<span> <%= post.user.name %> </span><br/>
		<span> <%= link_to '@' + post.user.username, "users/#{post.user.id}" %></span>
	</div>

	<div class="post__content">
		<p><%= post.content %></p>
		<div class='post__content__actions'>
		<% if post.user.username == current_user.username %>

			<%=link_to t('.edit_link'), edit_post_path(post)%>
			<%=link_to t('.delete_link'), post_path(post), method: :delete %>
		<% end %>
		</div>
	</div>
<% end %>



