<%= div_for(post, class: "media post__user--#{post.user.level} ") do %>
	<div class='media-left'>
		<%= image_tag post.user.avatar, class: 'media-object img-circle' %> 
	</div>

	<div class='media-body'>
		<h4 class='media-heading'>
			<%= post.user.name %>
			<span><%= link_to ' @' + post.user.username, "users/#{post.user.id}" %></span>
		</h4>
		<p><%= post.content %></p>
		<div class='post__content__actions'>
		<% if post.user.username == current_user.username %>
			<%=link_to t('.delete_link'), post_path(post), method: :delete %>
		<% end %>
		</div>
	</div>


	<!-- Modal -->
	<% if user_signed_in? %>
	<div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Editar mensaje</h4>
	      </div>
	      <%= form_tag edit_post_path(post) do %>
		      <div class="modal-body">
		      	<textarea class="form-control" name="post[content]" id="post_content"></textarea>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      	<input type="submit" name="commit" value="Enviar" class="btn btn-primary">
		      </div>
	      <% end -%>

	    </div>
	  </div>
	</div>
	<%end%>

<% end %>