<%= form_for @post, builder: CustomFormBuilder do |post| %>

	<div class='bg--gray container'>
		<section class='post'>
			<%= post.form_error %>

			<%= post.text_area :content, class: 'form-control' %>
			<%= post.field_error :content %>
			<%= post.submit class: 'btn btn-primary'%>
		</section>
	</div>

<% end %>