<section class='new-post'>
	<div class='container'>
		<% model_name = @post.class.model_name.human %>

		<%= form_for @post, builder: CustomFormBuilder do |post| %>

		<h2><%= t('.title', model: model_name) %></h2>
		<%= post.form_error %>

		<%= post.text_area :content, autofocus: true, class: 'form-control' %>
		<%= post.field_error :content %> <br/>
		<%= post.submit 'Enviar', class: 'btn btn-primary' %>

		<% end %>
	</div>
	
</section>
