<% model_name = @post.class.model_name.human %>
<h2><%= t('.title', model: model_name) %></h2>

<%= form_for @post, html: { class: 'pure-form pure-form-aligned' }, builder: CustomFormBuilder do |post| %>

	<%= post.form_error %>

	<%= post.text_area :content %>
	<%= post.field_error :content %>
	</br>
	</br>
	

	<%= post.submit class: 'pure-button pure-button-primary' %>
<% end %>