<header class='navbar navbar-default navbar-fixed-top '>
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class='icon-menu'></span>
			</button>

			<%= link_to 'Sistema microblogging', root_path, class: 'navbar-brand' %>			
		</div>
		
		
		<nav id="navbar" class="navbar-collapse collapse">
			<ul class='nav navbar-nav'>
				<li>
					<%= link_to 'Inicio', root_path, class: 'icon-home' %>			
				</li>
			</ul>
			<ul class="nav navbar-nav pull-right">
				<% if user_signed_in? %>
				<li>
					<%= link_to 'Mi cuenta', edit_user_registration_path, class: 'icon-user'%>
				</li>

				
				<li><%= link_to 'Salir', destroy_user_session_path, class: 'icon-exit' ,method: :delete %></li>
				<li>
					<%= link_to '#', class: 'btn btn-primary btn-navbar',
					data: {toggle: 'modal', target: '#myModal'} do %>
					<span class='icon-new-message'>Nuevo Mensaje</span>
					<%end%>
				</li>
				<% else %>
					<li><%= link_to "Iniciar sesión", new_user_session_path %></li>
					<li><%= link_to "Registrarse", new_user_registration_path %></li>
				<% end %>
			</ul>
		</nav>
		
</header>

<!-- Modal -->
<% if user_signed_in? %>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Nuevo mensaje</h4>
      </div>
      <%= form_tag posts_path do %>
	      <div class="modal-body">
	      	<textarea autofocus="autofocus" class="form-control" name="post[content]" id="post_content"></textarea>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      	<input type="submit" name="commit" value="Enviar" class="btn btn-primary">
	      </div>
      <% end -%>

    </div>
  </div>
</div>
<%end%>